[Desktop Entry]
Name=Eureka DOOM Editor
GenericName=DOOM Editor
Comment=Edit maps for the game DOOM
Exec=eureka %f
Icon=eureka
Terminal=false
Type=Application
Categories=Game;ActionGame;
StartupNotify=false
MimeType=application/x-doom-wad;
Keywords=doom;heretic;hexen;level;map;wad;editor;builder;yadex;
