/eureka
Eureka.exe

lib_win32
obj_win32
obj_linux

_work
WIP.txt

# OS X stuff
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
osx/Eureka Doom Editor.xcodeproj/project.xcworkspace/xcuserdata
osx/Eureka Doom Editor.xcodeproj/xcuserdata
osx/staticlib
.vscode/
build/
prereqs/
osx/Eureka-Tests/Eureka-Tests.xcodeproj/project.xcworkspace/xcuserdata
osx/Eureka-Tests/Eureka-Tests.xcodeproj/xcuserdata
*.vcxproj.user
.vs/
Debug/
win/Eureka/Release/
build2/
src/main.aps
htdocs-ORIGINAL/
htdocs-OUTPUT/
build-intel
venv
