Package: eureka
Version: 0.84-1
Section: misc
Priority: optional
Maintainer: Andrew Apted <ajapted@users.sf.net>
Architecture: i386
Depends: libc6, libfltk1.3
Description: map editor for DOOM
 Eureka is a map editor for DOOM.
Homepage: http://eureka-editor.sourceforge.net/
