name: C/C++ CI gcc

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install Dependencies
      run: sudo apt-get update && sudo apt-get install --fix-missing cmake libfltk1.3-dev libxpm-dev libz-dev python3
    - name: CMake
      run: mkdir build && cd build && cmake .. && make -j$(nproc)
    - name: Test
      run: cd build && ctest --output-on-failure
